body {
  width: 400px;
  font-family: "Lato", sans-serif;
  padding: 20px;
}

#logo {
  animation: heartbeat 1s infinite;
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.92);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.92);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(0.92);
  }
}



.check {
  padding: 11px;
  width: 25px;
  border-radius: 50%;
  height:25px;
  color:#cfcfcf;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='white' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'></path></svg>") no-repeat center center;
  background-color: #009e2d;
}

.close {
  padding: 11px;
  width: 25px;
  height:25px;
  border-radius: 50%;
  color:white;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'><path fill='white' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'></path></svg>") no-repeat center center;
  background-color: brown;
}

.set-width {
  padding-top: 15px;
  width: 300px;
}

#main-list {
  padding-top: 15px;
}

.inline {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 0 !important;
}

.secure-tabs-toggle {
  padding-left: 20px;
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.secure-tabs-toggle-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.secure-tabs-toggle-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}
.secure-tabs-toggle-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.secure-tabs-toggle-inner:before,
.secure-tabs-toggle-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.secure-tabs-toggle-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #009e2d;
  color: #ffffff;
}
.secure-tabs-toggle-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}
.secure-tabs-toggle-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.secure-tabs-toggle-checkbox:checked
  + .secure-tabs-toggle-label
  .secure-tabs-toggle-inner {
  margin-left: 0;
}
.secure-tabs-toggle-checkbox:checked
  + .secure-tabs-toggle-label
  .secure-tabs-toggle-switch {
  right: 0px;
}
